<ion-content [fullscreen]="true">
  <div class="spinner-init" *ngIf="showLoading">
    <img class="logo" src="assets/logo (2).jpg" alt="Logo">
    <div class="loading-bar"></div>
  </div>

  <!-- Contenido del Login -->
  <ion-card id="login-container" *ngIf="!showLoading">
    <ion-card-header>
      <ion-card-title class="title">Iniciar Sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input class="custom-input" type="text" placeholder="Username" [(ngModel)]="username" (input)="validateFields()"></ion-input>
      <ion-input class="custom-input" type="password" placeholder="Password" [(ngModel)]="password" (input)="validateFields()"></ion-input>
  
      <ion-button expand="full" [disabled]="!isValid" (click)="showModal()">Ingresar</ion-button>
      <ion-button expand="full" fill="clear" (click)="goToRegister()" class="register-btn">Regístrate</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- Segundo Spinner: Spinner que aparece al hacer clic en "Ingresar" -->
  <div class="spinner-login" *ngIf="showLoginSpinner">
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
</ion-content>
  <!-- author: Leonardo López Osornio -->
