#container {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#container strong {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  display: block;
}

#container ion-button {
  --background: #61c81a;
  --background-hover: #61c81a;
  --color: #fff;
  margin-top: 15px;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
}

.message-box {
  margin-top: 20px;
  padding: 10px 15px;
  background: #e0f7fa;
  color: #006064;
  border: 1px solid #006064;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-container {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#login-container ion-item {
  margin-bottom: 15px;
}

#login-container ion-input {
  --background: #fff;
  --color: #333;
  --border-radius: 8px;
  padding: 10px;
}

#login-container ion-button {
  --background: #61c81a;
  --background-hover: #61c81a;
  --color: #fff;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  width: 100%;
}

#login-container ion-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.register-btn {
  width: 100%;
  margin-top: 10px; /* Separación del botón 'Ingresar' */
  text-align: center; /* Alineación de texto */
}
